<!doctype html>
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" ng-app="App">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=640, maximum-scale=1, user-scalable=no">
    <title>angular Seed</title>
    <meta name="title" content="angular seed" />
    <meta name="description" content="angular seed" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- CSS style -->
    <link rel="stylesheet" href="./css/bundle.css?<%= buildLabel %>">
    <!-- AngularJS main code -->
    <script src="./js/bundle.js?<%= buildLabel %>"></script>
    <!-- Firebase -->
    <!-- <script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script> -->
    <!-- AngularFire -->
    <!-- <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script> -->
</head>

<body>
    <!-- DYNAMIC CONTENT BASED ON ROUTES -->
    <div ui-view autoscroll></div>
</body>

</html>
